{% extends "layout.html" %}
{% from "navbar.html" import navbar %}

{% block title %}GENS - version {{version}}{% endblock title %}

{% block css_style %}
  {{ super() }}
  <link rel='stylesheet' href='{{ url_for('home.static', filename='home.min.css') }}' type='text/css'>
{% endblock css_style %}

{% block scripts %}
  {{ super() }}
  <script
    src="{{ url_for('gens.static', filename='gens.min.js') }}"
  ></script>
{% endblock scripts %}

{% block body %}
  {{ navbar('home', version, current_user) }}
  {{ super() }}
  <script>
    const samplesJSON = {{ samples | tojson }};
    // FIXME: Get from the backend
    const variantSoftwareBaseURL = {{ variant_software_base_url | tojson }};
    const gensBaseURL = '{{ gens_api_url | safe }}';
    gens.samplesListInit(samplesJSON, variantSoftwareBaseURL, gensBaseURL);
  </script>
{% endblock %}

{% block content %}
<gens-home id="gens-home"></gens-home>
{% endblock content %}
